{% extends "base.html" %} {% block title %} Главная страница {% endblock %} {% block content %}
<form action="" method="post">{% csrf_token %}
    <div id="feedbackP">
        <div id="feedbackButton">
            Опции
        </div>
        <p class="font_form_text"> Наценка
            <input class="form-control" type="text" name=nacenka value="0" size="5"> </p>
        <p class="font_form_text"> Скидка
            <input class="form-control" type="text" name=discont value="0" size="5"> </p>
    </div>

<div class="container">
    <div class="form-group">
        <h4>Пристенные стеллажи</h4>
        <table class="table-striped table-condensed">
            <tr>
                <td><label for="height_stell">Высота стеллажей</label></td>
                <td><label for="base_polka">Базовая полка</label></td>
                <td><label for="dop_stoyka">Колличество дополнительных стоек</label></td>
            </tr>
            <tr valign="top">
                <td><select class="form-control input-sm" name="height_stell">
                <option value="2200">2200</option>
                <option value="1600">1600</option>
                <option value="2400">2400</option>
                </select></td>
                <td><select class="form-control input-sm" name="base_polka">
                <option value="500">500</option>
                <option value="400">400</option>
                <option value="600">600</option>
                </select></td>
                <td><input class="form-control input-sm" type="text" name=dop_stoyka value="0"> </p>
                </td>
            </tr>
        </table>
            <table class="table-striped table-bordered">
                <tr  align="center">
                    <td><h5>Наименование</h5></td>
                    <td><h5>Колличество</h5></td>
                    <td><h5>300</h5></td>
                    <td><h5>400</h5></td>
                    <td><h5>500</h5></td>
                    <td><h5>600</h5></td>
                </tr>
                <tr>
                    <td>СК125</td>
                    <td><input class="form-control input-sm" type="text" name=kol_125 value="0" size="12"></td>
                    <td><input class="form-control input-sm" type="text" name=125_30 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=125_40 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=125_50 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=125_60 value="0" size="5"></td>
                </tr>
                <tr>
                    <td>СК100</td>
                    <td><input class="form-control input-sm" type="text" name=kol_100 value="0" size="12"></td>
                    <td><input class="form-control input-sm" type="text" name=100_30 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=100_40 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=100_50 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=100_60 value="0" size="5"></td>
                </tr>
                <tr>
                    <td>СК80</td>
                    <td><input class="form-control input-sm input-sm" type="text" name=kol_80 value="0" size="12"></td>
                    <td><input class="form-control input-sm input-sm" type="text" name=80_30 value="0" size="5"></td>
                    <td><input class="form-control input-sm input-sm" type="text" name=80_40 value="0" size="5"></td>
                    <td><input class="form-control input-sm input-sm" type="text" name=80_50 value="0" size="5"></td>
                    <td><input class="form-control input-sm input-sm" type="text" name=80_60 value="0" size="5"></td>
                </tr>
                <tr>
                    <td>СК65</td>
                    <td><input class="form-control input-sm" type="text" name=kol_65 value="0" size="12"></td>
                    <td><input class="form-control input-sm" type="text" name=65_30 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=65_40 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=65_50 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=65_60 value="0" size="5"></td>
                </tr>
                <tr>
                    <td>СКУ</td>
                    <td><input class="form-control input-sm input-sm" type="text" name=kol_sku value="0" size="12"></td>
                    <td><input class="form-control input-sm input-sm" type="text" name=sku_30 value="0" size="5"></td>
                    <td><input class="form-control input-sm input-sm" type="text" name=sku_40 value="0" size="5"></td>
                    <td><input class="form-control input-sm input-sm" type="text" name=sku_50 value="0" size="5"></td>
                    <td><input class="form-control input-sm input-sm" type="text" name=sku_60 value="0" size="5"></td>
                </tr>
                <tr>
                    <td>СКУН</td>
                    <td><input class="form-control input-sm" type="text" name=kol_skun value="0" size="12"></td>
                    <td><input class="form-control input-sm" type="text" name=skun_30 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=skun_40 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=skun_50 value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=skun_60 value="0" size="5"></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<hr>



    <div class="container">
    <div class="form-group">
        <h4>Островные стеллажи</h4>
        <table class="table-striped table-condensed">
            <tr>
                <td><label for="height_stell_ostrov">Высота стеллажей</label></td>
                <td><label for="base_polka_ostrov">Базовая полка</label></td>
                <td><label for="dop_stoyka_ostrov">Колличество дополнительных стоек</label></td>
            </tr>
            <tr valign="top">
                <td><select class="form-control" name=height_stell_ostrov>
                <option value="2200">1600</option>
                <option value="1600">1200</option>
                <option value="2400">2400</option>
                </select></td>
                <td><select class="form-control" name=base_polka_ostrov>
                <option value="500">500</option>
                <option value="400">400</option>
                <option value="600">600</option>
                </select></td>
                <td><input class="form-control" type="text" name=dop_stoyka_ostrov value="0"> </p>
                </td>
            </tr>
        <div>
            <table class="table-striped table-bordered">
                <tr align="center">
                    <td><h5>Наименование<h5></td>
                    <td><h5>Колличество<h5></td>
                    <td><h5>300<h5></td>
                    <td><h5>400<h5></td>
                    <td><h5>500<h5></td>
                    <td><h5>600<h5></td>
                </tr>
                <tr>
                    <td>СКД125</td>
                    <td><input class="form-control input-sm" type="text" name=kol_125_ostrov value="0" size="12"></td>
                    <td><input class="form-control input-sm" type="text" name=125_30_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=125_40_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=125_50_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=125_60_ostrov value="0" size="5"></td>
                </tr>
                <tr>
                    <td>СКД100</td>
                    <td><input class="form-control input-sm" type="text" name=kol_100_ostrov value="0" size="12"></td>
                    <td><input class="form-control input-sm" type="text" name=100_30_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=100_40_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=100_50_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=100_60_ostrov value="0" size="5"></td>
                </tr>
                <tr>
                    <td>СКД80</td>
                    <td><input class="form-control input-sm" type="text" name=kol_80_ostrov value="0" size="12"></td>
                    <td><input class="form-control input-sm" type="text" name=80_30_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=80_40_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=80_50_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=80_60_ostrov value="0" size="5"></td>
                </tr>
                <tr>
                    <td>СКД65</td>
                    <td><input class="form-control input-sm" type="text" name=kol_65_ostrov value="0" size="12"></td>
                    <td><input class="form-control input-sm" type="text" name=65_30_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=65_40_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=65_50_ostrov value="0" size="5"></td>
                    <td><input class="form-control input-sm" type="text" name=65_60_ostrov value="0" size="5"></td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    <div>
        <input style=" margin-left: 450px " type="submit" class="btn btn-success btn-lg" value="Расчет">
    </div>
</form>

{% endblock %}
