{% extends "base.html" %}

{% block title %}
    База для расчета
{% endblock %}
{% block script %}


    {% endblock %}
{% block content %}

    <form action="" method="post">
{% for i in data %}
<tr>
   <td>{{ data[i] }}</td>
   <td></td>

</tr>
{% endfor %}
<div class="block1">
<p class="font_text"> Расчет стеллажей Русь </p>

<div style="width: 700px">
<table class="table table-striped table-bordered table-condensed" id="table">
<tr>
	<td>Наименование</td>
    <td>Количество</td>
	<td>Цена</td>
    <td>Сумма</td>
	<td>Вес</td>
</tr>
{% for i in x %}
<tr>
	<td>{{ i.name }}</td>
    <td>{{ i.number }}</td>
	<td>{{ i.price }}</td>
    <td>{{ i.summ }}</td>
    <td>{{ i.weight }}</td>
</tr>
{% endfor %}
	<td>Итого</td>
    <td></td>
	<td></td>
    <td>{{ itog_price }}</td>
	<td>{{  itog_weight }}</td>
 </table>
</div>
</div>
    <div class="block1" >
        <script type="text/javascript">
        function printDiv()
        {
          var divToPrint=document.getElementById("table");
          newWin= window.open("");
          newWin.document.write(divToPrint.outerHTML);
          newWin.print();
          newWin.close();
        }
        </script>
    <input type="button" class="btn btn-primary btn-lg" value="Печать" onclick="printDiv()"> </input>
    <a href="/excel/" class="btn btn-success btn-lg" >Excel</a>
    </div>
    </form>
{% endblock %}
